@tailwind base;
@tailwind components;
@tailwind utilities;

/* Full height */
:root,
html,
body {
  height: 100%;
}

/*Input auto fill reset*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}
